---
- name: Install podman
  ansible.builtin.apt:
    pkg: "{{ podman_packages }}"
    install_recommends: false
    state: present

- name: Install podman machine packages
  ansible.builtin.apt:
    pkg: "{{ podman_machine_packages }}"
    install_recommends: false
    state: present
  when: podman_machine_enabled

- name: Install network provider packages
  ansible.builtin.apt:
    pkg: >-
      {{ podman_network_packages
         | selectattr("name", "equalto", podman_network_provider)
         | map(attribute="packages") | flatten }}
    install_recommends: false
    state: present
  when:
    - not (podman_network_provider == "netavark" and podman_netavark_install_method == "github")

- name: Install userspace network provider packages
  ansible.builtin.apt:
    pkg: >-
      {{ podman_network_packages
         | selectattr("name", "equalto", podman_userspace_network_provider)
         | map(attribute="packages") | flatten }}
    install_recommends: false
    state: present

- name: Get podman-compose GitHub release information
  run_once: true
  delegate_to: localhost
  delegate_facts: true
  when:
    - podman_compose_install_method == "github"
    - "'github_podman_compose_release_info' not in hostvars['localhost']['ansible_facts']"
  block:
    - name: Get podman-compose GitHub release information
      ansible.builtin.uri:
        url: >-
          {{ "https://api.github.com/repos/"
             + podman_compose_github_org + "/" + podman_compose_github_repo
             + "/releases"
             + ("/tags" if podman_compose_github_version != "latest" else "")
             + "/" + podman_compose_github_version }}
        method: GET
        return_content: true
        status_code: 200
        body_format: json
        headers: >-
          {{ {"Authorization": "Bearer " + podman_github_token}
             if podman_github_token != "" else {} }}
      retries: 6
      delay: 15
      register: _podman_compose_release_info
      check_mode: false

    - name: Cache podman-compose GitHub release information
      ansible.builtin.set_fact:
        github_podman_compose_release_info: "{{ _podman_compose_release_info.json }}"
        cacheable: true

- name: Download podman-compose.py from GitHub
  ansible.builtin.get_url:
    url: >-
      {{ "https://raw.githubusercontent.com/"
         + podman_compose_github_org + "/" + podman_compose_github_repo
         + "/"
         + hostvars["localhost"]["ansible_facts"]["github_podman_compose_release_info"].tag_name
         + "/podman_compose.py" }}
    dest: "/usr/local/bin/podman-compose"
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  retries: 6
  delay: 15
  when: podman_compose_install_method == "github"
